<div class="header">
  <nav>
    <a routerLink="/index">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/about">About</a>
  </nav>
</div>
<div class="content">
  <div>
    <div class="content-space"></div>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <div class="brand">hosted with ❤ by
    <a href="mailto:emmanuel.salunga@gmail.com">ecsalunga</a>
  </div>
</div>