.header {
    position: fixed;
    z-index: 501;
    width: 100%;
    top: 0px;
    min-width: 350px;
    background-color: #2195f3ee;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #ffffff;
    height: 35px;
}

nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    color: white;
    transition: 0.75s;
}

nav a:hover {
    color: black;
}

.content {
    margin: auto;
    display: inline-block;
    min-height: 75vh;
    padding: 20px;
}

.content-space {
    height: 50px;
}

.footer {
    border-radius: 5px;
    height: 15px;
    width: 225px;
    margin-left: -15px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    padding: 10px;
}

.brand {
    margin-left: 20px;
    color: gray;
}

.brand a {
    text-decoration: none; 
    margin-left: 5px;
    font-weight: bold;
    color: gray;
}

.content:after {
    content: "";
    display: table;
    clear: both; 
}