html { height: 100%; }
html {
    -webkit-text-size-adjust: 100%;
}

body {
    height: 98%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
	font-style: normal;
    font-variant: normal;
    overflow-x: hidden;
    background-color: #eae9e9;
}

.item-flex, .item {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 30px;
    margin-bottom: 15px;
    background-color: white;
    transition: 0.5s;
}

.item-flex {
    float: left;
}

.item-flex:hover, .item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width: 550px) {
    .item-flex { margin-left: 2%; width: 36%; }
}

@media (min-width: 720px) {
    .item-flex { margin-left: 2%; width: 38%; }
}

@media (min-width: 950px) {
    .item-flex { margin-left: 2%; width: 40%; }
}

@media (min-width: 1200px) {
    .item-flex { margin-left: 3%; width: 24%; }
}